@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300&subset=latin,cyrillic);
@font-face {
  font-family: 'h-bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "h-italic";
  src: url("../fonts/HelveticaNeueCyr-Italic.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 550px) {
  .arrow-line .wrap > .title {
    font-size: 10px !important;
    word-spacing: 0px;
  }
  .arrow-line .wrap > .link {
    padding: 14px 0;
    margin-left: 12px;
  }
  .arrow-line .wrap > .title:after {
    border-width: 0 !important;
  }
  .arrow-line .first-part, .arrow-line .second-part {
    height: 40px !important;
  }

  .org-line .case .text {
    font-size: 12px;
  }
  .org-line .case img {
    width: 120px;
  }

  .info-graph {
    display: none;
  }

  .info-graph-adapt {
    display: block;
  }
  .info-graph-adapt .wrap {
    padding: 20px 0;
  }
  .info-graph-adapt .wrap .in {
    width: 100%;
  }
  .info-graph-adapt .wrap .in .line {
    display: table;
    width: 100%;
    margin-top: 10px;
  }
  .info-graph-adapt .wrap .in .line .case {
    display: table-cell;
    width: 170px;
    vertical-align: middle;
    text-align: center;
  }

  .zones a.icon {
    width: 205px;
  }
  .zones .photo-place {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .arrow-line .wrap > .title {
    font-size: 10px !important;
  }
  .arrow-line .wrap > .link {
    padding: 14px 0;
    margin-left: 30px;
  }
  .arrow-line .wrap > .title:after {
    border-width: 20px !important;
    right: -20px;
  }
  .arrow-line .first-part, .arrow-line .second-part {
    height: 40px !important;
  }
}
@media screen and (max-width: 720px) {
  .org-line .case img {
    width: 150px;
  }

  .info-graph .case img {
    width: 150px;
  }
}
@media screen and (max-width: 830px) {
  .org-line .case img {
    width: 250px;
  }

  .comment-line .wrap {
    text-align: center;
    width: 100%;
  }
  .comment-line .case {
    float: none !important;
    display: inline-block;
    width: 400px !important;
  }
  .comment-line .case:nth-child(even) {
    margin-top: 35px;
  }
  .comment-line .case .text {
    text-align: left;
  }
}
@media screen and (max-width: 880px) {
  .arrow-line .wrap {
    font-size: 12px !important;
  }
  .arrow-line .wrap .title:after {
    border-width: 21px !important;
    right: -21px;
  }
  .arrow-line .wrap .title {
    font-size: 12px !important;
    padding: 15px 10px 15px 0 !important;
  }
  .arrow-line .first-part, .arrow-line .second-part {
    height: 42px !important;
  }
}
@media screen and (max-width: 990px) {
  .orange-line {
    display: block;
    padding: 5px;
    background-color: #ff9933;
  }
  .orange-line .burger {
    width: 25px;
    height: 25px;
    background-image: url(../img/burger.png);
    display: block;
    float: left;
    margin-left: 5px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .top-line ul {
    display: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .top-line ul li {
    display: block;
    margin-top: 5px;
  }
  .top-line ul li a {
    font-size: 14px;
  }

  .helpers-menu-line {
    display: none;
  }

  .helpers-menu-line-adapt {
    display: block;
  }
  .helpers-menu-line-adapt li {
    font-size: 10px !important;
  }

  .contact-line {
    display: none;
  }

  .contact-line-adapt {
    width: 100%;
    display: block;
  }
  .contact-line-adapt .wrap {
    position: relative;
    padding: 20px 0 0 0;
  }
  .contact-line-adapt .wrap .in {
    display: table;
    width: 100%;
  }
  .contact-line-adapt .wrap .left {
    display: block;
  }
  .contact-line-adapt .wrap .left li {
    margin-top: 15px;
    display: table;
    width: 100%;
    font-family: "Open Sans";
  }
  .contact-line-adapt .wrap .left li span {
    display: table-cell;
    vertical-align: middle;
  }
  .contact-line-adapt .wrap .left li span:nth-child(2) {
    padding-left: 15px;
  }
  .contact-line-adapt .wrap .left li:nth-child(1) {
    margin-top: 0;
  }
  .contact-line-adapt .wrap .left .icon {
    background-image: url(../img/contact.png);
    width: 38px;
    height: 38px;
  }
  .contact-line-adapt .wrap .left .blank {
    padding: 10px 0;
    text-transform: uppercase;
  }
  .contact-line-adapt .wrap .right {
    display: block;
    text-align: center;
  }
  .contact-line-adapt .wrap .right img {
    display: inline-block;
    max-width: 400px;
  }

  .helpers-line-adapt {
    display: block;
  }
  .helpers-line-adapt .wrap {
    padding: 20px 0;
  }
  .helpers-line-adapt .wrap .in {
    width: 100%;
  }
  .helpers-line-adapt .wrap .in .line {
    display: table;
    width: 100%;
    margin-top: 10px;
  }
  .helpers-line-adapt .wrap .in .line .case {
    display: table-cell;
    width: 170px;
    vertical-align: middle;
    text-align: center;
  }

  .helpers-line {
    display: none;
  }

  .arrow-line .title {
    font-size: 14px !important;
    padding: 17px 10px 17px 0 !important;
  }
}
@media screen and (max-width: 1090px) {
  .left-side, .right-side {
    display: none;
  }

  .wrap {
    width: 90%;
  }

  .arrow-line .wrap {
    font-size: 18px;
  }
  .arrow-line .wrap .link {
    margin-left: 40px;
  }
  .arrow-line .wrap .title:after {
    border-width: 24px !important;
    right: -24px;
  }
  .arrow-line .wrap .title {
    font-size: 16px;
    padding: 16px 10px 16px 0;
    word-spacing: 0px;
  }
  .arrow-line .bg .first-part, .arrow-line .bg .second-part {
    height: 48px;
  }

  .comment-line .case .title {
    font-size: 14px !important;
  }
  .comment-line .case .descr {
    font-size: 14px !important;
  }
  .comment-line .case img {
    height: 150px;
  }

  .footer {
    height: 100px;
    font-size: 12px;
    line-height: 18px;
    margin-top: -5px;
  }
}
@media screen and (min-width: 1500px) {
  .arrow-line .first-part {
    width: calc((100% - 1200px)/2) !important;
  }
  .arrow-line .second-part {
    width: calc(100% - (100% - 1200px)/2) !important;
  }
  .arrow-line .title {
    font-size: 16px;
    padding: 16px 10px 16px 0;
  }

  .left-side, .right-side {
    width: calc((100% - 1200px)/2) !important;
  }
}
